<h1>Bienvenue sur {{title}}</h1>
<!-- <h2>{{ recetteList[0].name }}</h2> -->

<!-- La propriété entre crochet suivi d'un égale  puis de la valeur à lui donner. -->
<!-- <a [href]="recetteList[0].name">exemple 1</a> -->

<!-- De même avec "attr" puis le nom de l'attribut à changer -->
<!-- <a [attr.href]="recetteList[0].name">exemple 2</a> -->

<!-- Avec le mot class suivi du nom d'une classe, je peux indiquer 
entre les guillemets une condition qui si elle est "true" donnera la classe à notre élément HTML. -->
<!-- <div [class.super]="5>10">exemple 3</div> -->

<!-- Ici je modifie la propriété css "color" selon une ternaire. -->
<!-- <div [style.color]="5>10?'red':'green'">exemple 4</div> -->

<!-- Quelques interpolation possible avec angular, il en existe d'autres. -->
<nav>
    <a routerLink="/recettes" class="logo">{{title}}</a>
</nav>
<router-outlet></router-outlet>