*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: clamp(30px, 7vw, 90px);
    padding: 40px 10px;
}
main p{
    max-width: 850px;
    margin: 0 auto;
    padding: 100px 20px;
    line-height: 1.4;
    opacity: 0;
    transition: opacity 0.3s linear, transform 0.5s ease-out;
    /* transform: translateX(-50%); */
}
main p:nth-child(even){
    background-color: rgb(106, 54, 54);
}
main p:nth-child(odd){
    background-color: rgb(54, 54, 106);
}
.scroll-indicator{
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10px;
    transform-origin: left;
    transform: scale(0);
    background-image: linear-gradient(to right, #feba3a, #fc3434);
    transition: transform 0.2s ease-out;
}
footer p {
    padding: 700px 0;
    font-size: 80px;
    text-align: center;
    background-color: #fc3434;
}
.roll-in-left {
	-webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-17 12:52:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  