:root{
    --bg-controls: rgba(89, 200, 45, 0.609);
    --fs-controls: 24px;
    --fc-controls: rgb(6, 31, 41);
}
.hide{
    display: none;
}
.hider{
    opacity: 0;
    pointer-events: none;
}
#videoContainer {
	width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
}
#videoControls {
    right:0;
    left: 0;
    padding: 10px;
    position: absolute;
    bottom: 0;
    transition: all 0.2s ease;
    background-color: var(--bg-controls);
}
#progressBlock {
    position: relative;
    height: 10px;
    margin-bottom: 12px;
}
#progressBar {
    appearance: none;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
	accent-color: red;
}
#progressSearch{
    appearance: none;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    margin: 0;
    height: 10px;
    background-color: transparent;
    border-radius: 5px;
	accent-color: red;
}
#progressSearch:hover+#timeSearch {
    display: block;
}
#timeSearch{
    display: none;
    position: absolute;
    top: -50px;
    margin-left: -20px;
    font-size: var(--fs-controls);
    padding: 3px;
    content: attr(data-title);
    font-weight: bold;
    color: var(--fc-controls);
    background-color: var(--bg-controls);
}
#bottomControls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--fc-controls);
    font-size: var(--fs-controls);
}
#bottomControls > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
#bottomControls .time{
    display: flex;
    align-items: flex-start;
}
#playCenter{
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: var(--bg-controls);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
#videoContainer button {
    cursor: pointer;
    position: relative;
    font-size: var(--fs-controls);
    padding: 3px;
    border: none;
    outline: none;
    background-color: transparent;
}
#videoContainer button *{
    pointer-events: none;
}
#videoContainer button::before{
    content: attr(data-title);
    position: absolute;
    display: none;
    right: 0;
    top: -50px;
    background-color: var(--bg-controls);
    color: var(--fc-controls);
    font-weight: bold;
    padding: 4px 6px;
    word-break: keep-all;
    white-space: pre;
}
#videoContainer button:hover::before{
    display: inline-block;
}
video{
	width: 100%;
}
#videoContainer svg{
    width: 20px;
    height: 20px;
    fill: var(--fc-controls);
    stroke: var(--fc-controls);
    cursor: pointer;
}
img{
    width: 20px;
    height: 20px;
    fill: var(--fc-controls);
    stroke: var(--fc-controls);
    cursor: pointer;
}