<header>
        <h1>
        {% if header %}
                {{header}}
        {% else %}
                Cours Symfony
        {% endif %}
        </h1>
        <nav class="navbar navbar-expand">
                <ul class="navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item"><a class="nav-link" href="{{path("app_logout")}}">Déconnexion</a></li>
                {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{path("app_login")}}">Connexion</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path("app_register")}}">Inscription</a></li>
                {% endif %}
                </ul>
        </nav>
</header>